
:root {
	--accent-color: #3A3A6B;
	--border-color: #1E1E2E;
	--background-1: #1E1E2E;
	--background-2: #3A3A6B;
	--background-tertiary: #292952;
	--background-mentioned: #4B4B7D !important;
	--background-mentioned-hover: #575E8F !important;
	--background-modifier-hover: #57658F !important;
	--background-modifier-active: #59578F !important;
	--text-normal: #FFFFFF !important;
	--text-positive: #CCD2FF !important;
	--text-muted: #CCD9FF !important;
	--text-link: #CECCFF !important;
	--button-background: #1E1E2E !important;
	--button-background-hover: #1E1E2E !important;
	--button-background-active: #1E1E2E !important;
	--button-accent: #1E1E2E !important;
	--button-accent-hover: #1E1E2E !important;
	--button-accent-active: #1E1E2E !important;
	--button-destructive: #1E1E2E !important;
	--button-destructive-hover: #1E1E2E !important;
	--button-destructive-active: #1E1E2E !important;
	--settings-icon-color: #1E1E2E !important;
	--tab-selected: #1E1E2E !important;
	--switch: #1E1E2E !important;

	--background-primary: var(--background-1);
	--background-primary-alt: var(--background-1);
	--background-secondary: var(--background-tertiary);
	--background-secondary-alt: var(--background-tertiary);
	--background-accent-gradient: var(--background-1);
	--background-floating: var(--background-2);
	--background-modifier-selected: var(--accent-color);
	--background-modifier-accent: transparent;
	--background-message-hover: transparent;
	--interactive-selected: var(--background-primary);
	--interactive-active: var(--text-normal);
	--interactive-normal: var(--text-normal);
	--interactive-muted: var(--button-background-active);
	--channels-default: var(--text-muted);
	--header-primary: var(--text-normal);
	--header-secondary: var(--text-muted);
	--control-brand-foreground: var(--accent-color);
	--info-warning-foreground: var(--accent-color);
	--activity-card-background: var(--background-1);
	--brand-experiment: var(--accent-color) !important;
	--close-button-color: var(--accent-color);
	--maximize-button-color: var(--accent-color);
	--minimize-button-color: var(--accent-color);
	--scrollbar-color-alt: var(--accent-color);
	--scrollbar-thin-track: transparent;
	--scrollbar-auto-thumb: transparent;
	--scrollbar-auto-thumb-hover: var(--accent-color);
	--scrollbar-auto-track: transparent;
	--scrollbar-auto-scrollbar-color-thumb: var(--accent-color);
	--scrollbar-auto-scrollbar-color-track: transparent;
	--channeltextarea-background: var(--accent-color);
	--channeltextarea-background-hover: var(--background-2);
	--avatar-roundess: 5px;
}

.theme-dark {
	--background-primary: var(--background-1);
	--background-primary-alt: var(--background-1);
	--background-secondary: var(--background-tertiary);
	--background-secondary-alt: var(--background-tertiary);
	--background-floating: var(--background-2);
	--background-mentioned: #4B517D !important;
	--background-mentioned-hover: #575E8F !important;	
}
