:root{
background-color: rgb(6, 55, 97);

}

*{
box-sizing: border-box;
margin: 0;
padding: 0;
font-size: 16pt;
font-family: "inter", sans-serif;
}


h1{
    font-size: 5rem;
    color: aquamarine;
    margin-bottom: 4.5rem;
}

h2{
    font-size: 4rem;
    color: aquamarine;
    margin-bottom: 3.5rem;
}


.container{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
    padding: 2rem;
}


.flex-center{
    align-items: center;
    justify-content: center;
  
}



.flex-column{
    display: flex;
 
    flex-direction: column;
  
}


.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}



.btn{
    color: black;
    padding: 2rem 0rem;
    font-size: 3rem;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
    width: 30rem;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(0deg, rgba(6,55,97,1) 0%, rgba(88,116,136,1) 19%, rgba(68,120,158,1) 33%, rgba(73,137,179,1) 44%, rgba(34,127,189,1) 53%, rgba(19,131,205,1) 65%);

}

.btn:hover{
cursor: pointer;
box-shadow: 0 0.5 1.5 0 rgba(19,131,205,1);
transition: transform 0.3s 0.8s;
transform: scale(1.1);

}

.btn[:disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

#leaderboard-btn{

    background:orange
}

#leaderboard-btn:hover{
    box-shadow: 0 0.5 1.5 0 orange;
}

.fa-trophy{
    font-size: 3rem;
    margin-left: 1rem;
}