* {
    main-bg:            #C4DFDCB3;
    main-fg:            #29524DE6;
    main-br:            #47393CE6;
    main-ex:            #BB6A6AE6;
    select-bg:          #3A666B80;
    select-fg:          #CCFAFFE6;
}
